.App h1{
  color: red;
  
}
.App img{
  height: 500px;
  width: 500px;
}
.App h2{
  color: rgb(7, 154, 66)
}
/* .App p{
  width: 400px;
  margin-left: 40%;
} */
.App{
  /* text-align: center; */
}
.App .component2 p{
  background-color: orange-;
}
.App .d1 h1{
 color: green;
}